* {
    padding: 0px;
    margin: 0px;
}

.total-area-menu {
    background-color: rgb(102, 82, 41);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.menu {
    height: 93%;
    width: 93%;
    background-color: rgba(255, 255, 255, 0.61);
    border-radius: 20px;
    box-shadow: 0px 5px 15px black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
    margin-top: 30px;
}

button {
    border: none;
    background: none;
    padding: 17px;
    margin-left: 18px;
}

button:hover {
    background-color: rgba(71, 151, 47, 0.267);
    border-radius: 20px;
}

h1 {
    padding-left: 200px;
}

.name-lanche {
    display: flex;
    justify-content: space-between;
    width: 80vw;
}

p {
    display: flex;
    padding-top: 7px;
}

hr {
    border: 0px;
    height: 10px;
    width: 60vw;
    border-top: 2px solid #000;
    margin: 10px 0px 14px 26px;
}